.cardsPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

h1 {
    font-size: 20px;
}

.pageTitle {
    font-size: 32px;
    align-self: center;
    margin: 10px;
    color: #4c4c4c;
}

.controlsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px dotted darkred;
}

.sortSettings {
    cursor: pointer;
    padding: 2px 12px;
    margin: 2px;
}

.activeSetting {
    margin: 0;
    border: 2px dotted black;
    padding: 2px 12px;
}

.table li:nth-child(even) {
    background-color: #e2e0d9;
}

.table li:nth-child(odd) {
    background-color: #d2d0c8;
}

.tableHeader {
    padding: 0 15px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid darkred;
    background-color: #de9b87;
    font-weight: bold;
}

.packItem {
    font-size: 14px;
    padding: 5px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputBlock {
    display: flex;
    align-items: flex-start;
}

.inputBlock input {
    margin-top: 16px;
    margin-left: 2px;
}

.inputBlock button {
    margin-top: 16px;
    margin-right: 4px;
}

.inputBlock span {
    font-weight: normal;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 2px;
    cursor: pointer;
}

.itemIsNotMine {
    color: #b17070;
}

.cardsPageWrapper button {
    border: 1px solid #ded7d3;
    outline: none;
    padding: 4px 12px;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(100,100,100,0.3);
    transition: 0.2s;
}

.cardsPageWrapper button:hover {
    background-color: #a79375;
    border: 1px solid white;
    color: white;
}

.cardsPageWrapper button:disabled:hover {
    background-color: revert;
    border: 1px solid #ded7d3;
    padding: 4px 12px;
    cursor: default;
    transition: revert;
    color: revert;

}