.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
}

.form * {
    margin: 5px 0;
}

.rememberMe {
    display: flex;
    align-items: baseline;
}

.rememberMe span {
    margin-left: 4px;
}

.textInput {

}

.login {

}