.pageContainer {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

.form * {
    margin: 5px;
}

/*.green {*/
/*    border-bottom: 5px solid forestgreen;*/
/*}*/

.registrationErrorMessage {
    height: 1em;
    color: darkred;
    font-size: 0.8em;
    text-align: left;
    margin: 10px 5px 0 5px;
    /*width: 100%*/
}

.demoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
