.searchComponent {
    display: flex;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    /*align-items: center;*/
    /*align-content: center;*/
    /*flex-grow: initial;*/
    /*width: 100px;*/
    /*box-sizing: border-box;*/
}

.input {
    overflow: hidden;
    width: 100%;

}