.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    background-color: #e5e3d8;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px rgba(50,30,30,0.3);
    background-image: url('common/images/background_pattern.png');
    background-repeat: repeat;
}

