.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 95%;
    margin: 20px auto;
    padding: 10px;
    background-color: #cad2c8;
    display: flex;
    justify-content: center;
}
